// VARIABLES

$disabled-date-col: rgb(154, 154, 154);
$enabled-date-col: rgb(255, 255, 255);
$date-hover-col: rgb(199, 107, 65);
$white-text-col: rgb(255, 255, 255);

//GENERAL STYLES

html, body {
	margin:0;
	padding:0;
	height:100%;
}

#main-wrapper {
	height: 100%;
	position: relative;
  padding-bottom: 35px;
}

.main-content {
  min-height: 100%;
}

#footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.full-width {
	width: 100%;
}

.btn {
	cursor: pointer;
}

//SPACES VIEW STYLES

.space {
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}
}

//SPACE VIEW STYLES

.label-line-height {
	line-height: 2.7;
}

//CALENDAR STYLES

.datepicker {
	tbody {
		background-color: $disabled-date-col !important;
	}
}

.day {
	border-radius: 0 !important;
	background-color: $enabled-date-col !important;
	&:hover {
		background-color: $date-hover-col !important;
		transition: 0.5s ease;
		color: $white-text-col;
	}
}

.disabled, .disabled-date {
	background-color: $disabled-date-col !important;
	&:hover {
		background-color: $disabled-date-col !important;
	}
}
