// VARIABLES

$bright-tint: #FF9900;
$light-tint: #FFFBD0;
$main-tint: #CC6600;
$red-tint: #C13100;

$disabled-date-col: rgb(154, 154, 154);
$enabled-date-col: rgb(255, 255, 255);
$date-hover-col: $main-tint;
$white-text-col: rgb(255, 255, 255);

//GENERAL STYLES

html {
	height:100%;
}

body {
	min-height: 100%;
	margin:0;
	padding:0;
	font-family: 'Raleway', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', sans-serif;
}


.main-content {
  min-height: 100%;
}

.full-width {
	width: 100%;
}

.container-top-margin {
	margin-top: 15%;
}

.btn {
	cursor: pointer;
	font-family: 'Raleway', sans-serif;
	&:hover{
		background-color: $bright-tint;
		transition: 0.7s ease;
	}
}

.main-tint-bkgrnd {
	background-color: $main-tint;
}

.light-text {
	color: $white-text-col;
	a {
		color: $white-text-col;
	}
}

//SPACES VIEW STYLES

.space {
	a {
		color: inherit;
		&:hover {
			text-decoration: none;
			color: inherit;
		}
	}
}

//SPACE VIEW STYLES

.label-line-height {
	line-height: 2.7;
}

//CALENDAR STYLES

.datepicker {
	margin: 0 auto;
	tbody {
		background-color: $disabled-date-col !important;
	}
}

.day {
	border-radius: 0 !important;
	background-color: $enabled-date-col !important;
	&:hover {
		background-color: $date-hover-col !important;
		transition: 0.5s ease;
		color: $white-text-col;
	}
}

.day.active {
	background-color: $date-hover-col !important;
	transition: 0.5s ease;
	color: $white-text-col;
}

.disabled, .disabled-date {
	background-color: $disabled-date-col !important;
	&:hover {
		background-color: $disabled-date-col !important;
	}
}

// BACKGROUND STYLES

.index-background {
	background: url("/img/home-bkgrnd.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

.space-background {
	background: url("/img/space-background.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

.sign-in-background {
	background: url("/img/sign-in-background.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

.sign-up-background {
	background: url("/img/sign-up-background.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}

.list-new-space-background {
	background: url("/img/list-new-space-background.jpg");
	background-size: cover;
	background-repeat: repeat-y;
}
