<div class="container container-top-margin">
  <div class="row">
      <div class="col-12 col-md-6">
        <div class="text-center my-3">
          <h3 class="translucent-background p-3">Requests I've received!</h3>
        </div>
        <%= partial :received_requests %>
      </div>
      <div class="col-12 col-md-6">
        <div class="text-center my-3">
          <h3 class="translucent-background p-3">Requests I've made!</h3>
        </div>
        <%= partial :made_requests %>
      </div>
    </div>
  </div>
</div>
