<div class="container">
  <div class="row">
    <!-- <div class="col-12 text-center mb-4">
      <h3>Received requests!</h3>
    </div> -->

      <div class="col-6">
        <div class="text-center">
          <h3>Requests I've received!</h3>
        </div>
        <%= partial :received_requests %>
      </div>

      <div class="col-6">
        <div class="text-center">
          <h3>Requests I've made!</h3>
        </div>
        <%= partial :made_requests %>
      </div>

    </div>
  </div>
</div>
