<div class="container">
  <div class="row">
    <div class="col-12">
      <%if @current_user%>
          <p>Hello <%=@current_user.username%></p>
      <%end%>
    </div>
      <div class="col-12">
        <%= partial :spaces %>
      </div>
    </div>
  </div>
</div>
