<div class="container">
  <div class="row">
    <div class="col-12 text-center mb-4">
      <%if @current_user%>
          <h3>Hello, <%=@current_user.username%>!</h3>
      <%end%>
    </div>
      <div class="col-12">
        <%= partial :spaces %>
      </div>
    </div>
  </div>
</div>
